.about{
    background-image: linear-gradient(black, transparent);
    min-height: 100vh;
    height: auto;
    padding: 4rem 2vw;
    margin-top: 0;
    position: relative;
    z-index: 1;
}

/*Title and Number ----------------------------------------------------*/

.about-header-number {
    position: relative;
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

.about-header-number:after {
    content: '';
    display: block;
    width: 200%; /* Line width */
    height: 2px; /* Line thickness */
    background-color: #ee76d4; /* Line color */
    box-shadow: 0 0 10px #ff00c8; /* Adjust shadow color and spread as needed */
    position: absolute;
    left: 0;
    bottom: -10px; /* Adjusts the space between the text and the line */
}

.about-header{
    text-align: left;
    padding: 5px;
    padding-bottom: 20px;
}

.about-title{
    padding-top: 2rem;
}

/*Profile & Text -----------------------------------------------------*/

.about-body{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5vh;
    padding-top: 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10vw;
}

.about-content{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    max-width: 95vw;
}

.about-profile{
    max-width: 40vw;
    max-height: 40vh;
}

.about-text{
    background-color:  rgb(60, 0, 67);
    border-radius: 25px; /* Adjust as needed for roundness */
    width: auto;
    height: auto;
    max-width: 40vw;
    min-height: 30vh;
    justify-content: space-around;
    padding: 2%; /* Adjust padding to control the rectangle's content spacing */
    margin: 10px 10px; /* Optional: Adjust margin for spacing around the rectangle */
    outline-color: #f59de2; /* Line color */
    outline-width: 1px;
    outline-style: dashed;
    box-shadow: 0 0 20px #ff00c8;
}

/*Lower Buttons--------------------------------------------------------*/

.about-toggle {
    background-color: rgb(60, 0, 67);
    border-radius: 25px; /* Adjust as needed for roundness */
    outline-color: #f59de2; /* Line color */
    outline-width: 1px;
    outline-style: dashed;
    box-shadow: 0 0 20px #ff00c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    padding: 10px; /* Adjust padding to control the rectangle's content spacing */
    margin: auto;
    gap: 15px;
}

.about-toggle button{
    background-color: transparent;
    min-width: 15vw;
}

/* This rule will apply when the button is hovered */
.about-toggle button:hover{
    font-size: larger;
}

/* If you want to remove any outline that appears when the button is focused, 
   but not change the font size, you can keep this rule */
.about-toggle button:focus{
    outline: none;
}

/*For Small Screens-----------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .about {
        padding: 2rem 2vw;
        margin-top: -1rem;
    }

    .about-title {
        padding-top: 1rem;
    }

    .about-body {
        flex-direction: column;
        padding: 2rem 0;
        max-width: 95vw;
        gap: 2rem;
    }

    .about-profile {
        max-height: 40vh;
        padding: 1rem 0;
    }

    .about-text {
        max-width: 95vw;
        margin: 1rem 0;
    }

    .about-header{
        padding-top: 0;
    }

    .about-toggle{
        /*max-width: 75vw;*/
        padding: 5px;
        margin: auto;
        gap: 10px
    }

    .about-toggle button{
        min-width: 20vw;
        max-width: 30vw;
    }
}