#root > .intro {
    padding-top: 0;
    padding-left: 0;
  }

.intro{
    min-width: 100%;
    min-height: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
    background-color: black;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.intro-text {
    width: 100%; /* Take the full width to center text properly */
    height: 100%; /* Full height to align text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Ensure text within Typewriter is centered */
    position: absolute; /* Corrected: Remove the duplicate position property */
    font-weight: bold; /* Adjust if 'font' shorthand is not intended for other font properties */
    color: white;
    z-index: 10;
    text-shadow: 0 0 10px #9900ff;
    background-image: url('../assets/img/Stars.svg'); /* Add your background image */
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the background image */
}

/* image overlay from front to back*/
.intro-img, .intro-img1, .intro-img3{
    width: 100vw;
    height: 101%;
    position: absolute; /* If you want them to directly overlay each other */
    top: 0;
    left: 0;
    background-position: center 75%;
}

.intro-img1{
   z-index: 30;
}

.intro-img2{
    z-index: 20;
}

.intro-img3{
    z-index: 0;
}

@media screen and (max-width: 750px) {
    .intro{
        min-height: 175vw;
    }
}