#root > .intro {
    padding-top: 0;
    padding-left: 0;
}

.intro {
    min-width: 100%;
    height: 200vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.intro-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    font-weight: bold;
    color: white;
    z-index: 10;
    text-shadow: 0 0 10px #9900ff;
    background-image: url('../assets/img/Stars.svg');
    background-size: cover;
    background-position: center;
}

/* image overlay from front to back*/
.intro-img, .intro-img1, .intro-img3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 75%;
    background-size: cover;
}

.intro-img1 {
   z-index: 30;
}

.intro-img2 {
    z-index: 20;
}

.intro-img3 {
    z-index: 0;
    background-image: url('../assets/img/Star_Background.svg');
}

/* For narrow screens */
@media screen and (max-width: 750px) {
    .intro {
        height: 200vh;
    }
}

/* For wide screens (width > 2 * height) */
@media screen and (min-aspect-ratio: 2/1) {
    .intro {
        height: 300vh;
    }
}

/* For extra wide screens (width > 3 * height) */
@media screen and (min-aspect-ratio: 3/1) {
    .intro {
        height: 400vh;
    }
}