@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  /*For testing spacing between components*/ 
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

#root {
  background-image: url('./assets/img/Background.svg');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Keep the image fixed during scroll */
  max-width: 1500px;
  margin: 0 auto;
  min-width: 360px;
  /*padding: 2rem;*/
  padding: 0;
  text-align: center;
  /*background-image: url('./assets/img/Background.svg');*/
}

.read-the-docs {
  color: #888;
  font-size: xx-small;
  background-color: black;
}